/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require bootstrap.min
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 .error{
     color:red;
     margin: 0px;
 }
 div#newEvent{
     margin-top:20px;
    //  background-color:#353A40;
    //  border-radius:5% 10%;
    //  padding:2em;
 }

 th, td{
     text-align:center; 
 }

 .comment p{
     margin:0px;
 }

 .comment{
     margin-bottom:5px;
 }

 #board{
     height:60vh;
     overflow-y:auto;
     padding:5px;
     margin-bottom:10px;
 }

 #discuss{
     margin-top:2em;
     border-left:1px solid black;
 }
 .auto-c {
    tbody>tr {
      display:none;
      &.expanded {
        display:table-row;
      }
    }
    &.expanded {
      tbody>tr {
        display:table-row;
      }
      tfoot {
        display: none;
      }    
    }
  }

  .eventbutton{
      margin-bottom:1em;
  }
 .container{
      margin-top:2.5em;
      min-height:100vh;
      background-color:white;
      padding:0.5em 2em 4em 2em;
      border-bottom-left-radius: 5%;
      border-bottom-right-radius: 5%;
  }

  .notification{
    background-color: #fa3e3e;
    border-radius: 2px;
    color: white;
   
    padding: 0.15em 0.3em;
    font-size: 12px;
    //   color:darkred;
    //   background-color:black;
    //   border-radius:2px;
    //   padding-left:0.25em;
    //   padding-right:0.25em;
    //   line-height:100%;
  }

  #invites{
    height:80vh;
    padding:5px;
    overflow-y:auto
}

.invite{
    margin-bottom: 1em;
}

#newEventImg{
    width:80%;
    display:block;
    margin:auto;
    margin-top:2em;
}

nav{
    height:2.5em;
}

#signin{
    min-height:100vh;
    min-width:100vw;
    background: url('signin3.jpeg') no-repeat center;
    background-size: cover;
    background-attachment: fixed;
    margin:0px;
    padding-top:20px;
    padding-bottom:20px;
}

#signin .container{
    margin-top:0px;
    padding-top:0;
    background-color: transparent;
}

#login h1, #register h1{
    color:white;
}

#login{
    background-color:rgba(75, 12, 12, 0.7);
    margin-top:10px;
    border-radius:5px;
    padding:10px;
    height:100%;
    box-shadow:1em 1em 0.5em black;
}
#register{
    background-color:rgba(75, 12, 12, 0.7);
    margin-top:10px;
    border-radius:5px;
    padding:10px;
    height:100%;
    box-shadow:1em 1em 0.5em black;
}

#signin .error{
    color:white;
    margin: 0px;
}

#signin .btn-primary{
    background-color:rgb(70, 13, 13);
    border:none;
    box-shadow:none;    
}

#signin .btn-default{
    background-color:rgba(70, 13, 13, 0.425);
    border:none;
    box-shadow:none;
}

.btn-toggle{
    margin-bottom: 1em;
}

body{
    background-color:rgb(70, 13, 13);
}

thead{
    background-color:steelblue;
    color:white;
}

.attending thead{
    background-color:rgb(57, 100, 57);
}

.hosting thead{
    background-color:rgb(187, 81, 81);
}

.attendees thead{
    background-color: rgb(141, 90, 177);
}

.outstate thead{
    background-color: rgb(134, 81, 12);
}